<div class="flex flex-col py-2">
    <h3>Edit Question</h3>
    <%= simple_form_for [@template, @question], url: template_question_path(@template.header, @question), method: :patch, html: { class: "space-y-4" } do |f| %>
      <div class="flex justify-between items-center">
        <%= f.label :qtype, required: false, class: "text-gray-700 font-medium" %>
        <%= f.input :qtype, collection: [["Checkbox", "bool"], ["Text input", "text"], ["Number input", "num"], ["Image display (url)", "img"], ["Alert display", "alrt"]], input_html: { class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-40 p-1.5" }, include_blank: false, label: false %>
      </div>
      <div class="flex justify-between items-center">
        <%= f.label :content, required: false, class: "text-gray-700 font-medium" %>
        <%= f.input :content, as: :text, input_html: { class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-60 p-1.5" }, label: false %>
      </div>
      <div class="flex justify-between items-center mt-10">
        <%= f.submit "Save Question", class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-xs px-4 py-2 focus:outline-none" %>
        <%= link_to "Back to Template", template_path(@template), class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-xs px-4 py-2 focus:outline-none" %>
      </div>
    <% end %>
  </div>
