<div class="flex flex-col mb-auto px-2" id="main">
  <div class="flex justify-center">
    <h1>Pre-hire Checks</h1>
  </div>
  <div id="filters">
    <% if current_user.admin? %>
      <%= form_with(url: jobs_path, method: :get, local: true, class: "my-4", data: { controller: "loader", action: "submit->loader#show" }) do %>
        <div class="mb-4 mx-2 flex justify-between items-center">
          <label for="store" class="block text-sm font-medium text-gray-700">Select Store</label>
          <%= select_tag :store, options_for_select(@stores, selected: params[:store]), prompt: "Choose a store", class: "block w-[10rem] pl-1 py-1 ml-2 text-sm border-gray-300 focus:outline-none focus:ring-green-600 focus:border-green-800 rounded-md" %>
          <%= submit_tag "Filter", class: "text-white bg-green-600 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-1.5 ml-2 focus:outline-none" %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div id="cards" data-loading-target="content" class="pb-4 mt-4 border-b">
    <% if @jobs.empty? %>
      <h3 class="font-bold text-center mt-10">No items to load</h3>
    <% end %>
    <%= render @jobs %>
  </div>
  <div data-controller="toggle-job-form">
    <div class="flex justify-center items-center pb-4 mt-4 border-b" data-toggle-job-form-target="buttonDiv">
      <%= button_tag data: { action: "toggle-job-form#toggle" } do %>
        <span class="material-symbols-outlined text-green-600" style="font-size: 48px;">add_box</span>
        <h2 class="mr-2">New PHC</h2>
      <% end %>
    </div>
    <div data-toggle-job-form-target="formDiv" class="hidden flex-col justify-center items-center pb-8 mt-8">
      <div data-controller="qr-code-scanner">
        <%= form_with url: jobs_path, method: :post, data: { controller: "loader", action: "submit->loader#show" } do |form| %>
          <div data-qr-code-scanner-target="formDiv" class="flex flex-col justify-center items-center">
            <%= form.text_field :part_number, placeholder: "Enter Part Number", data: { qr_code_scanner_target: "input" }, class: "border p-2 mb-2 rounded w-40 text-center" %>
            <p class="text-lg mb-2">OR</p>
            <%= button_tag "Scan QR Code", type: "button", data: { action: "qr-code-scanner#openScanner" }, class: "bg-green-600 hover:bg-green-800 focus:ring-4 focus:ring-green-300 text-white px-4 py-2 mb-2 rounded" %>
            <%= form.submit "Create Job", class: "bg-green-600 hover:bg-green-800 focus:ring-4 focus:ring-green-300 text-white px-4 py-2 rounded" %>
          </div>
        <% end %>
        <div data-qr-code-scanner-target="scannerDiv" class="hidden flex-col justify-center items-center pt-4">
          <video data-qr-code-scanner-target="video" class="w-3/4 h-auto bg-gray-200 border-green-600 border-3 mb-4" style="border: 4px solid rgb(22 163 74); width: 75%; height: auto;"></video>
          <canvas data-qr-code-scanner-target="canvas" class="hidden"></canvas>
          <%= button_tag "Cancel", type: "button", data: { action: "qr-code-scanner#stopCamera" }, class: "bg-green-600 hover:bg-green-800 focus:ring-4 focus:ring-green-300 text-white px-4 py-2 rounded" %>
        </div>
      </div>
    </div>
  </div>
</div>
