<div class="flex flex-col mb-auto px-2 pt-5" id="main">
  <div class="flex justify-between pb-2">
    <h2>Pre-hire Check <%= @job.id %></h2>
    <%= link_to "View Template", template_path(@job.template, job_id: @job.id), class: "text-green-600 hover:underline text-base" if current_user.admin? %>
  </div>
  <div class="flex justify-between border-b pb-4">
    <p><%= @job.item.Name %></p>
    <p><%= @job.item.PartNumber %></p>
  </div>
  <div class="flex justify-between border-b pb-2 mt-2">
    <p>Branch <%= @job.item.CurrentStore %></p>
    <p><%= Time.now.strftime("%a %d/%m/%Y %H:%M") %></p>
  </div>
  <%= form_with model: @job, url: job_path(@job), method: :patch, local: true, multipart: true do |f| %>
    <%= f.hidden_field :id, value: @job.id %>
    <%= f.hidden_field :item_num, value: @job.item_num %>
    <%= f.hidden_field :completed_at, value: Time.now %>
    <%= f.hidden_field :header, value: @job.item.Header %>
    <%= f.hidden_field :part_num, value: @job.item.PartNumber %>
    <%= f.hidden_field :store, value: @job.store %>
    <div data-controller="operator" data-operator-operators='<%= @operators.to_json(only: [:OPID, :OPNM]) %>'>
      <div class="flex justify-between items-center w-full border-b pb-3 mt-3">
        <%= f.label :opid, "Enter initials:", class: "text-sm font-bold"%>
        <%= f.text_field :opid, class: "block w-12 px-2 py-1 mx-3 text-sm bg-gray-50 border-gray-300 focus:outline-none focus:ring-green-600 focus:border-green-800 rounded-md", data: { action: "input->operator#updateName" } %>
        <%= f.label :opnm, "User", class: "text-sm ml-2 font-bold" %>
        <%= f.text_field :opnm, class: "block w-44 px-2 py-1 ml-2 text-sm bg-gray-50 border-gray-300 focus:outline-none focus:ring-green-600 focus:border-green-800 rounded-md", data: { operator_target: "name" }, required: true, onfocus: "this.blur();" %>
      </div>
    </div>
    <div data-controller="fuel">
      <% if (@job.item.FUEL == "cFUEL" || @job.item.FUEL == "cUNFUEL") || @job.item.TYPE == "H" || @dbmm %>
        <div class="flex justify-between items-center text-sm pb-4 mt-4 border-b">
          <% if @job.item.FUEL == "cFUEL" || @job.item.FUEL == "cUNFUEL" %>
              <div data-fuel-target="fuelAdd" class="flex items-center mr-4">
                <%= f.label :fuel_req, "Does the item require fuel?", class: "font-bold w-2/3" %>
                <%= f.check_box :fuel_req, { class: "cursor-pointer w-6 h-6 mx-2 text-green-600 bg-gray-100 border-gray-300 rounded focus:ring-green-500 focus:ring-2", data: { action: "input->fuel#fuelRequired" } }, "true", "false" %>
              </div>
              <div data-fuel-target="fuelEntry" class="justify-between items-center hidden">
                <%= f.label :fuel, "Fuel taken:", class: "font-bold" %>
                <%= f.number_field :fuel, step: "any", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-20 ml-2 py-1 px-2" %>
              </div>
          <% elsif @dbmm %>
            <div class="flex ml-auto mr-4 items-center text-sm">
              <%= f.label :dbmm, "Diamond blade mm:", class: "font-bold" %>
              <%= f.number_field :dbmm, required: true, step: "any", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-20 ml-2 py-1 px-2" %>
            </div>
          <% end %>
          <% if @job.item.TYPE == "H" %>
            <div class="flex justify-end items-center text-sm">
              <%= f.label :hours, "Engine hours:", class: "font-bold" %>
              <%= f.number_field :hours, required: true, step: "any", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-20 ml-2 py-1 px-2" %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="mt-1">
      <% @job.template.questions.each_with_index do |question, index| %>
        <div class="flex justify-between border-b pb-4 mt-4" data-controller="file-upload">
          <% label_text = question.content.parameterize(separator: '_') %>
          <%= simple_format question.content unless question.qtype == "alrt" || question.qtype == "img" || question.qtype == "photo" %>
          <% if question.qtype == "bool" %>
            <%= hidden_field_tag "job[answer_attributes][answers][checkbox_#{label_text}]", false %>
            <%= check_box_tag "job[answer_attributes][answers][checkbox_#{label_text}]", "true", @job.answer&.answers&.dig("checkbox_#{label_text}") == "true", required: true, class: "cursor-pointer w-6 h-6 ml-4 text-green-600 bg-gray-100 border-gray-300 rounded focus:ring-green-500 focus:ring-2" %>
          <% elsif question.qtype == "text" %>
            <%= text_field_tag "job[answer_attributes][answers][text_#{label_text}]", @job.answer&.answers&.dig("text_#{label_text}"), required: true, class: "bg-gray-50 border border-gray-300 text-gray-900 h-8 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-40 p-1.5 ml-3 mt-0.25" %>
          <% elsif question.qtype == "num" %>
            <%= number_field_tag "job[answer_attributes][answers][number_#{label_text}]", @job.answer&.answers&.dig("number_#{label_text}"), step: "any", required: true, class: "bg-gray-50 border border-gray-300 text-gray-900 h-8 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-40 p-1.5 ml-3 mt-0.25" %>
          <% elsif question.qtype == "img" %>
            <div class="flex flex-col" data-controller="toggle-image">
              <%= button_tag data: { action: "click->toggle-image#toggle" }, class: "flex items-center space-x-2" do %>
                <div class="flex items-center">
                  <span class="material-symbols-outlined text-green-600" style="font-size: 36px;">keyboard_double_arrow_down</span>
                  <span class="text-sm">Show Image / </span>
                  <span class="text-sm font-bold ml-2"><%= question.caption %></span>
                </div>
              <% end %>
              <%= image_tag "#{question.content}", class: "hidden w-full", data: { toggle_image_target: "image" } %>
            </div>
          <% elsif question.qtype == "alrt" %>
            <%= simple_format question.content, class: "text-red-600 font-semibold" %>
          <% elsif question.qtype == "photo" %>
          <div class="flex justify-between items-center w-full" data-controller="file-upload" data-cloudinary-upload-cloud-name="<%= ENV['CLOUDINARY_CLOUD_NAME'] %>" data-cloudinary-upload-upload-preset="<%= ENV['CLOUDINARY_UPLOAD_PRESET'] %>">
            <div class="flex justify-between items-center">
              <%= f.label :photo_url, "Add photo:", class: "text-sm font-bold" %>
              <%= f.file_field :photo_url, accept: "image/*", capture: "camera", class: "hidden", data: { action: "change->file-upload#uploadToCloudinary", "file-upload-target": "fileInput", index: "0" }, name: nil %>
              <button type="button" class="text-white bg-green-600 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-xs px-3 py-1.5 ml-4 focus:outline-none" data-action="click->file-upload#triggerFileInput" data-index="<%= "0" %>">Capture</button>
              <%= f.hidden_field :photo_url, data: { "file-upload-target": "photoUrl" } %>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" width="30" height="30" id="uploadStatus0" class="opacity-0" data-file-upload-target="loading"><radialGradient id="a2" cx=".66" fx=".66" cy=".3125" fy=".3125" gradientTransform="scale(1.5)"><stop offset="0" stop-color="#0CC500"></stop><stop offset=".3" stop-color="#0CC500" stop-opacity=".9"></stop><stop offset=".6" stop-color="#0CC500" stop-opacity=".6"></stop><stop offset=".8" stop-color="#0CC500" stop-opacity=".3"></stop><stop offset="1" stop-color="#0CC500" stop-opacity="0"></stop></radialGradient><circle transform-origin="center" fill="none" stroke="url(#a2)" stroke-width="30" stroke-linecap="round" stroke-dasharray="200 1000" stroke-dashoffset="0" cx="100" cy="100" r="70"><animateTransform type="rotate" attributeName="transform" calcMode="spline" dur="5" values="360;0" keyTimes="0;1" keySplines="0 0 1 1" repeatCount="indefinite"></animateTransform></circle><circle transform-origin="center" fill="none" opacity=".2" stroke="#0CC500" stroke-width="30" stroke-linecap="round" cx="100" cy="100" r="70"></circle></svg>
            <%= f.check_box "photo_uploaded", checked: false, disabled: true, data: { "file-upload-target": "checkBox", index: "0" }, class: "w-6 h-6 ml-4 text-green-600 bg-gray-100 border-gray-300 rounded focus:ring-green-500 focus:ring-2", name: nil %>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <% if @accessories.any? %>
      <div class="flex flex-col justify-between pb-4 mt-4 border-b">
        <h3 class="mb-1 font-bold">Accessories check (tick all that are returned)</h3>
        <% @accessories.each_with_index do |accessory, index| %>
          <% next if accessory.MiscName.nil? %>
          <% accessory_key = accessory.MiscName.parameterize(separator: '_') %>
          <div class="flex justify-between items-center my-1">
            <%= label_tag "job[answer_attributes][answers][accessory_#{accessory_key}]", accessory.MiscName, class: "text-sm" %>
            <%= hidden_field_tag "job[answer_attributes][answers][accessory_#{accessory_key}]", false %>
            <%= check_box_tag "job[answer_attributes][answers][accessory_#{accessory_key}]", "true", @job.answer&.answers&.dig("accessory_#{accessory_key}") == "true", required: true, class: "cursor-pointer w-6 h-6 ml-4 text-green-600 bg-gray-100 border-gray-300 rounded focus:ring-green-500 focus:ring-2" %>
          </div>
        <% end %>
      </div>
    <% end %>
    <% @job.template.photo_qty.times do |i| %>
      <div class="flex justify-between items-center border-b pb-4 mt-4" data-controller="file-upload" data-cloudinary-upload-cloud-name="<%= ENV['CLOUDINARY_CLOUD_NAME'] %>" data-cloudinary-upload-upload-preset="<%= ENV['CLOUDINARY_UPLOAD_PRESET'] %>">
        <div class="flex justify-between items-center">
          <%= f.label "photo#{i+1}", "Add photo:", class: "text-sm font-bold" %>
          <%= f.file_field "photo#{i+1}", accept: "image/*", capture: "camera", class: "hidden", data: { action: "change->file-upload#uploadToCloudinary", "file-upload-target": "fileInput", index: "#{i+1}" }, name: nil %>
          <button type="button" class="custom-button text-white bg-green-600 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-xs px-3 py-1.5 ml-4 focus:outline-none" data-action="click->file-upload#triggerFileInput" data-index="<%= i+1 %>">Capture</button>
          <%= f.hidden_field "photo_url#{i+1}", data: { "file-upload-target": "photoUrl" } %>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" width="30" height="30" id="uploadStatus<%= i+1 %>" class="opacity-0" data-file-upload-target="loading"><radialGradient id="a2" cx=".66" fx=".66" cy=".3125" fy=".3125" gradientTransform="scale(1.5)"><stop offset="0" stop-color="#0CC500"></stop><stop offset=".3" stop-color="#0CC500" stop-opacity=".9"></stop><stop offset=".6" stop-color="#0CC500" stop-opacity=".6"></stop><stop offset=".8" stop-color="#0CC500" stop-opacity=".3"></stop><stop offset="1" stop-color="#0CC500" stop-opacity="0"></stop></radialGradient><circle transform-origin="center" fill="none" stroke="url(#a2)" stroke-width="30" stroke-linecap="round" stroke-dasharray="200 1000" stroke-dashoffset="0" cx="100" cy="100" r="70"><animateTransform type="rotate" attributeName="transform" calcMode="spline" dur="5" values="360;0" keyTimes="0;1" keySplines="0 0 1 1" repeatCount="indefinite"></animateTransform></circle><circle transform-origin="center" fill="none" opacity=".2" stroke="#0CC500" stroke-width="30" stroke-linecap="round" cx="100" cy="100" r="70"></circle></svg>
        <%= f.check_box "photo_uploaded_#{i+1}", checked: false, disabled: true, data: { "file-upload-target": "checkBox", index: "#{i+1}" }, class: "w-6 h-6 ml-4 text-green-600 bg-gray-100 border-gray-300 rounded focus:ring-green-500 focus:ring-2", name: nil %>
      </div>
    <% end %>
    <div class="flex justify-between items-center my-8">
      <%= link_to "Back to PHCs", jobs_path, class: "text-white bg-green-600 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-xs px-4 py-2 focus:outline-none" %>
      <%= f.submit "Complete", class: "text-white bg-green-600 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-xs px-4 py-2 focus:outline-none" %>
    </div>
  <% end %>
</div>
