<div class="flex flex-col mb-auto px-2 pt-5 mx-auto text-center" id="main">
  <h1 class="mb-5">Forgot your password?</h1>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs flex flex-col">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
    </div>

    <div class="form-actions flex flex-col items-center">
      <%= f.button :submit, "Send reset password", class: "focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm w-1/2 px-5 py-2.5 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 text-center"  %>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>

</div>
