<div class="flex justify-between align-self-end border border-gray-800 rounded p-1 mb-2" id="footer">
  <%= link_to root_path, class: "border border-gray-800 rounded p-1 m-1 w-16 text-center" do %>
    <span class="material-symbols-outlined !text-4xl">
      home
    </span>
    <p class="text-xxs">home</p>
  <% end %>
  <%= link_to jobs_path, class: "border border-gray-800 rounded p-1 m-1 w-16 text-center" do %>
    <span class="material-symbols-outlined !text-4xl">
      home_repair_service
    </span>
    <p class="text-xxs">jobs</p>
  <% end %>
  <%= link_to contracts_path, class: "border border-gray-800 rounded p-1 m-1 w-16 text-center" do %>
    <span class="material-symbols-outlined !text-4xl">
      description
    </span>
    <p class="text-xxs">contracts</p>
  <% end %>
  <%= link_to root_path, class: "border border-gray-800 rounded p-1 m-1 w-16 text-center" do %>
    <span class="material-symbols-outlined !text-4xl">
      local_shipping
    </span>
    <p class="text-xxs">del pu</p>
  <% end %>
  <%= link_to root_path, class: "border border-gray-800 rounded p-1 m-1 w-16 text-center" do %>
    <span class="material-symbols-outlined !text-4xl">
      forum
    </span>
    <p class="text-xxs">messages</p>
  <% end %>
</div>
