<div class="flex justify-between align-self-end border border-gray-800 rounded p-1 mb-2" id="footer">
  <%= link_to root_path, class: "border-4 border-green-600 rounded m-1 w-16 text-center" do %>
    <span class="material-symbols-outlined !text-4xl text-green-800">
      home
    </span>
    <p class="text-xxs -mt-2">home</p>
  <% end %>
  <%= link_to jobs_path, class: "border-4 border-green-600 rounded m-1 w-16 text-center" do %>
    <span class="material-symbols-outlined !text-4xl text-green-800">
      home_repair_service
    </span>
    <p class="text-xxs -mt-2">jobs</p>
  <% end %>
  <%= link_to contracts_path, class: "border-4 border-green-600 rounded m-1 w-16 text-center" do %>
    <span class="material-symbols-outlined !text-4xl text-green-800">
      description
    </span>
    <p class="text-xxs -mt-2">contracts</p>
  <% end %>
  <%= link_to root_path, class: "border-4 border-green-600 rounded m-1 w-16 text-center" do %>
    <span class="material-symbols-outlined !text-4xl text-green-800">
      local_shipping
    </span>
    <p class="text-xxs -mt-2">del pu</p>
  <% end %>
  <%= link_to root_path, class: "border-4 border-green-600 rounded m-1 w-16 text-center" do %>
    <span class="material-symbols-outlined !text-4xl text-green-800">
      forum
    </span>
    <p class="text-xxs -mt-2">messages</p>
  <% end %>
</div>
