<div class="flex my-2" id="header">
  <div class="p-1 flex-grow flex justify-center">
    <%= image_tag("br-logo.png") %>
  </div>
  <div class="flex flex-col my-1 mx-2">
    <% if user_signed_in? %>
      <%= button_to "signout", destroy_user_session_path, method: :delete, class: "flex-shrink border border-2 border-gray-600 rounded p-0.5 m-1 w-16 text-center text-xxs font-bold" %>
    <% else %>
      <%= button_to "signin", new_user_session_path, class: "flex-shrink border border-2 border-gray-600 rounded p-0.5 m-1 w-16 text-center text-xxs font-bold" %>
    <% end %>
    <%= button_to "settings", root_path, class: "flex-shrink border border-2 border-gray-600 rounded p-0.5 m-1 w-16 text-center text-xxs font-bold" %>
  </div>
</div>
<div class="flex flex-col mb-auto" id="main">
  <div class="flex" id="main-jobs">
    <%= link_to root_path, class: "border border-gray-800 rounded p-1 m-1 w-16 text-center" do %>
      <span class="material-symbols-outlined !text-4xl">
        home_repair_service
      </span>
      <p class="text-xxs">jobs</p>
    <% end %>
    <div class="flex flex-col">
      <h2>Jobs</h2>
      <p>View jobs such as prehire checks</p>
    </div>
  </div>
  <div class="flex" id="main-contracts">
    <%= link_to root_path, class: "border border-gray-800 rounded p-1 m-1 w-16 text-center" do %>
      <span class="material-symbols-outlined !text-4xl">
        description
      </span>
      <p class="text-xxs">contracts</p>
    <% end %>
    <div class="flex flex-col">
      <h2>Contracts</h2>
      <p>View, search, filter contracts</p>
    </div>
  </div>
  <div class="flex" id="main-transport">
    <%= link_to root_path, class: "border border-gray-800 rounded p-1 m-1 w-16 text-center" do %>
      <span class="material-symbols-outlined !text-4xl">
        local_shipping
      </span>
      <p class="text-xxs">del pu</p>
    <% end %>
    <div class="flex flex-col">
      <h2>Transport</h2>
      <p>View and complete deliveries, pickups</p>
    </div>
  </div>
  <div class="flex" id="main-messages">
  <%= link_to root_path, class: "border border-gray-800 rounded p-1 m-1 w-16 text-center" do %>
      <span class="material-symbols-outlined !text-4xl">
        forum
      </span>
      <p class="text-xxs">messages</p>
    <% end %>
    <div class="flex flex-col">
      <h2>Messages</h2>
      <p>View and send messages to branch</p>
    </div>
  </div>
</div>
<div class="flex justify-between align-self-end border border-gray-800 rounded p-1 mb-2" id="footer">
  <%= link_to root_path, class: "border border-gray-800 rounded p-1 m-1 w-16 text-center" do %>
    <span class="material-symbols-outlined !text-4xl">
      home
    </span>
    <p class="text-xxs">home</p>
  <% end %>
  <%= link_to root_path, class: "border border-gray-800 rounded p-1 m-1 w-16 text-center" do %>
    <span class="material-symbols-outlined !text-4xl">
      home_repair_service
    </span>
    <p class="text-xxs">jobs</p>
  <% end %>
  <%= link_to root_path, class: "border border-gray-800 rounded p-1 m-1 w-16 text-center" do %>
    <span class="material-symbols-outlined !text-4xl">
      description
    </span>
    <p class="text-xxs">contracts</p>
  <% end %>
  <%= link_to root_path, class: "border border-gray-800 rounded p-1 m-1 w-16 text-center" do %>
    <span class="material-symbols-outlined !text-4xl">
      local_shipping
    </span>
    <p class="text-xxs">del pu</p>
  <% end %>
  <%= link_to root_path, class: "border border-gray-800 rounded p-1 m-1 w-16 text-center" do %>
    <span class="material-symbols-outlined !text-4xl">
      forum
    </span>
    <p class="text-xxs">messages</p>
  <% end %>
</div>
