<div class="flex flex-col mb-auto px-2" id="main" data-controller="returns-entry">
  <div class="flex flex-col">
    <div class="flex justify-center">
      <h2>Contract Returns</h2>
    </div>
    <div class="flex justify-center mt-2 pt-2 border-t">
      <h3 class="mb-2">Search by:</h3>
    </div>
    <div class="flex justify-center items-center pb-2 border-b">
      <div data-returns-entry-target="plantNumberBtn" class="mx-2">
        <%= button_tag "Plant #", type: "button", data: { action: "returns-entry#showPlantNumberInput" }, class: "text-white bg-green-600 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-xs px-4 py-2 my-1.5 focus:outline-none" %>
      </div>
      <div data-returns-entry-target="qrCodeBtn" class="mx-2">
        <%= button_tag "QR", type: "button", data: { action: "returns-entry#showScanInput" }, class: "text-white bg-green-600 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-xs px-4 py-2 my-1.5 focus:outline-none" %>
      </div>
      <div data-returns-entry-target="customerBtn" class="mx-2">
        <%= button_tag "Customer", type: "button", data: { action: "returns-entry#showCustomerInput" }, class: "text-white bg-green-600 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-xs px-4 py-2 my-1.5 focus:outline-none" %>
      </div>
    </div>
    <%= form_with url: returns_path, method: :get, autocomplete: "off", class: "hidden", data: { returns_entry_target: "formDiv", controller: "loader", action: "submit->loader#show" } do |form| %>
      <div class="flex flex-col items-center border-b pt-2 mt-2 pb-2">
        <%# plant number input %>
        <div data-returns-entry-target="plantNumberInput" class="hidden">
          <%= form.text_field :part_number, placeholder: "Enter plant number", class: "block w-36 px-2 py-1 text-sm text-center bg-gray-50 border-gray-300 focus:outline-none focus:ring-green-600 focus:border-green-800 rounded-md" %>
        </div>
        <%# qr code scanner %>
        <div data-returns-entry-target="qrCodeInput" class="hidden fixed inset-0 bg-black bg-opacity-50 items-center justify-center">
          <div class="bg-white w-96 rounded-lg p-4 shadow-xl">
            <div data-returns-entry-target="qrCodeCanvas" class="flex-col items-center">
              <video data-returns-entry-target="video" class="w-3/4 h-auto bg-gray-200 border-green-600 border-3 mb-2" style="border: 4px solid rgb(22 163 74); width: 75%; height: auto;"></video>
              <canvas data-returns-entry-target="canvas" class="hidden"></canvas>
              <%= link_to "Cancel", returns_path, class: "text-white bg-green-600 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-xs px-4 py-2 my-1.5 focus:outline-none" %>
            </div>
          </div>
        </div>
        <div data-returns-entry-target="inputDiv" class="hidden flex-col justify-center items-center">
          <%= form.text_field :qr_number, placeholder: "Enter plant number", class: "block w-36 px-2 py-1 text-sm text-center bg-gray-50 border-gray-300 focus:outline-none focus:ring-green-600 focus:border-green-800 rounded-md", data: { returns_entry_target: "input" } %>
        </div>
        <%# customer input %>
        <div data-returns-entry-target="customerInput" class="hidden">
          <%= form.text_field :cust_name, placeholder: "Enter customer name", autocomplete: "off", class: "block w-72 px-2 py-1 ml-2 text-sm bg-gray-50 border-gray-300 focus:outline-none focus:ring-green-600 focus:border-green-800 rounded-md", data: { action: "input->returns-entry#updateCustomerNum" } %>
          <%= form.hidden_field :customer, class: "customer-num" %>
          <datalist id="customer_names">
            <% @customer_names.uniq.each do |customer| %>
              <option value="<%= customer[:name] %>" data-num="<%= customer[:num] %>"></option>
            <% end %>
          </datalist>
        </div>
        <div class="flex justify-between items-center mx-4">
          <%= link_to "Cancel", returns_path, class: "text-white bg-green-600 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-xs px-4 py-2 my-2 mx-1 focus:outline-none" %>
          <%= form.submit "Search", class: "hidden text-white bg-green-600 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-xs px-4 py-2 my-2 mx-1 focus:outline-none", data: { returns_entry_target: "formSubmitBtn" } %>
        </div>
      </div>
    <% end %>
    <% if params[:cust_name].present? %>
      <%= form_with url: returns_path, autocomplete: "off", method: :get, class: "", data: { controller: "loader", action: "input->loader#show" } do |form| %>
        <div class="flex flex-col items-center mt-2 pt-2">
          <h3>Customer selected:</h3>
          <h3><%= @customer.NAME %></h3>
        </div>
        <div class="flex justify-center border-b mt-2 pb-4">
          <%= form.select :contract,
            options_for_select(@contract_nums),  # Dynamic contract numbers from @contract_nums
            { prompt: "Select contract" },  # Placeholder option
            class: "block w-44 px-2 py-1 ml-2 text-sm bg-gray-50 border-gray-300 focus:outline-none focus:ring-green-600 focus:border-green-800 rounded-md",
            onchange: "this.form.submit();"  # Submit form when selection changes
          %>
          <%= form.hidden_field :customer, value: params[:customer] %>
          </div>
      <% end %>
    <% end %>
  </div>
  <div class="flex flex-col mt-12">
    <% if @contract %>
      <div class="flex flex-col items-center">
        <h2>Customer: <%= @contract.customer.NAME %></h2>
        <div class="flex flex-col items-center">
          <div class="flex justify-between">
            <h4 class="px-2">Items on hire</h4>
            <h4 class="px-2">Contract #<%= @contract.CNTR %></h4>
          </div>
          <table class="text-xs w-full text-left my-4">
            <thead class="text-xs uppercase">
              <tr>
                <th class="px-3 py-1.5 bg-green-50">Item</th>
                <th class="px-3 py-1.5 bg-green-50">Qty</th>
                <th class="px-3 py-1.5 bg-green-50">Name</th>
              </tr>
            </thead>
            <tbody>
              <% @contract.contract_items.each do |item| %>
                <% next if item.QTY.zero? %>
                <tr class="bg-white border-b">
                  <td class="px-3 py-1.5"><%= item.item.KEY %></td>
                  <td class="px-3 py-1.5"><%= item.QTY.round(0) %></td>
                  <td class="px-3 py-1.5"><%= item.item.Name %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="flex justify-between w-full px-8 my-4">
          <%= link_to "Reset", returns_path, class: "text-white bg-green-600 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-xs px-4 py-2 my-1.5 focus:outline-none" %>
          <%= link_to new_return_path(@contract, contract: @contract) do %>
            <%= button_tag "Return Contract", type: "button", class: "text-white bg-green-600 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-xs px-4 py-2 my-1.5 focus:outline-none" %>
          <% end %>
        </div>
      </div>
    <% elsif !@contract && (params[:part_number].present? || params[:qr_number].present?) %>
      <div class="flex flex-col items-center border-y py-2">
        <p class="font-bold"><%= params[:part_number] %><%= params[:qr_number] %> is not on an open contract</p>
        <p>Please search again</p>
      </div>
    <% end %>
  </div>
</div>
