<!DOCTYPE html>
<html>
  <head>
    <title>Better Rentals</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= render 'shared/ios_pwa_links' %>
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <script src="https://cdn.jsdelivr.net/npm/jsqr@1.4.0/dist/jsQR.js"></script>
    <script src="https://widget.cloudinary.com/v2.0/global/all.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  </head>
  <body class="container max-w-md border mx-auto px-2 flex flex-col min-h-dvh">
    <div>
      <%= render "shared/loader" %>
      <%= render "shared/header" %>
      <%= render "shared/flashes" %>
    </div>
    <main id="main" class="flex-grow">
      <%= yield %>
    </main>
    <footer class="sticky bottom-0 bg-white">
      <%= render "shared/footer" if user_signed_in? %>
    </footer>
  </body>
</html>
